@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap')
@import 'normalize'
@import 'reset'

*
  box-sizing border-box
  
body
  font-family: 'Roboto', sans-serif
  color #000000
  background-color #edeef0
  font-size 16px
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box

.container
  width 100%
  max-width 800px
  margin 0 auto
  padding-top 15px

button:focus
  outline none